---
layout: default
title: TOP
description: システム開発会社ならアジャイル月額制受託のmofmofへ。高速に最小限のアプリやWebサービス等を制作し、実際に動かして検証しながら開発を繰り返し「本当に欲しかったもの」を実現します。新規IT事業にともなう開発案件の相談にも乗ります。
body_class_name: home
---

{% include topmain.html %}


<div class="container03">
	<div class="text_area">
	<p>新規事業では、ビジネスアイデアに合わせてソフトウエア設計の見直しを重ね、柔軟に進化させていくことが重要です。次々に出てくる「こうしたい」を一緒に形にしてくれる開発チームは、ビジネスの強い味方となります。<br>
	mofmof inc.の「開発チームレンタル」のサービスは、従来の受託制作のように始めから終わりまで一続きに開発を進めるやり方ではなく、実際にソフトウェアの動かしながら、仕様変更を繰り返していく作り方を提供しています。
	</p>
	</div>
</div>
<div class="container">
	<a href="/service">
	<div class="service_link">
	<button class="button middle service_button button_primary">サービス</button>
	</div>
	</a>
</div>

<section class="sp_bg">
	<div class="container02">
		<h2 class="ttl_center">MERIT<span>月額制開発チームレンタルのメリット</span></h2>
	</div>
	<div class="container">
		<div class="merit_items">
		<a class="merit_link_area" href="/service/#merit01">
			<div class="merit01">
			<img src="images/merit01.png" />
			</div>
			<button class="button middle button_primary">MERIT.01</button>
			<p>高速で開発ができるため、<br>新規事業に向いている</p>
		</a>
		<a class="merit_link_area" href="/service/#merit02">
			<div class="merit02">
			<img src="images/merit02.png" />
			</div>
			<button class="button middle button_primary">MERIT.02</button>
			<p>開発チームの進捗を可視化</p>
		</a>
		<a class="merit_link_area" href="/service/#merit03">
			<div class="merit03">
			<img src="images/merit03.png" />
			</div>
			<button class="button middle button_primary">MERIT.03</button>
			<p>1人ではなく開発チームで<br>対応するため安心</p>
		</a>
		</div>
	</div>
</section><!-- MERIT -->

<section class="section_bg_left">
	<div class="container02">
		<h2 class="ttl_right">INTERVIEW<span>クライアントインタビュー</span></h2>
	</div>
	<div class="container">
		{% assign idx = 0 %}
		{% for post in site.categories['interview'] %}
			{% if post.id == '/interview/abeja-ogata' or
			 			post.id == '/interview/flying-line-kanegae' or
						post.id == '/interview/yukisaki-jinno' or
						post.id == '/interview/career-live-kitamura' %}
				{% assign idx = idx | plus: 1 %}
			  <div class="interview_items">
					<div class="interview0{{ idx }} interview_item">
						<span class="interview_sumnail"><img src="{{ post.imgpath }}" /></span>
						<div class="interview_text">
						<a href="{{ post.url }}">
						<p class="interview_label"><span>{{ post.interview_speaker_company }}</span>{{ post.interview_speaker_name }}さま</p>
						<p class="interview_comment">{{ post.comment }}</p>
						</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</section><!-- INTERVIEW -->

<section class="section_bg_right sp_bg">
	<div class="container02">
		<h2 class="ttl_left">WORKS<span>開発実績</span></h2>
		<div class="works_items">
			<a href="/works/#works01">
			<div class="works_item_box">
			<span class="works_img"><img src="images/works01.png" /></span>
			<p>WORKS.01</p>
			<button class="button button_primary works_button">ABEJA Platform for Retail</button>
			</div>
			</a>
			<a href="/works/#works02">
			<div class="works_item_box works02">
			<span class="works_img"><img src="images/works02.png" /></span>
			<p>WORKS.02</p>
			<button class="button button_primary works_button">RiLi.tokyo</button>
			</div>
			</a>
			<a href="/works/#works03">
			<div class="works_item_box">
			<span class="works_img"><img src="images/works03.png" /></span>
			<p>WORKS.03</p>
			<button class="button button_primary works_button">Yondemill</button>
			</div>
			</a>
			<a href="/works/#works04">
			<div class="works_item_box">
			<span class="works_img"><img src="images/works04.png" /></span>
			<p>WORKS.04</p>
			<button class="button button_primary works_button">QSUKE</button>
			</div>
			</a>
			<div class="more_link more_link_works">
			<a class="button_more" href="/works"><span>MORE</span></a>
			</div>
		</div>
	</div>
</section><!-- WORKS -->

<!-- <section>
{% include interview.html %}
</section> -->

<section class="section_info">
	<div class="slider_title">
		<h2 class="ttl_center_s clearfix"><span class="info_title">INFOMATION</span> <span class="info_oshirase">mofmofのお知らせ</span><a href="#"><span class="info_more">more</span></a></h2>
	</div>
	<div class="section_info_slide">
		{% for post in site.categories['information'] %}
			<a href="{{ post.url }}">
			<div class="info_items">
				<div class="info_items_inner">
				<span class="info_item_tag">
					{% for tag in post.tags %}{{ tag }}{% endfor %}
					&nbsp;
				</span>
				<div class="info_item_box cf">
				<div class="info_date_box"><span class="info_item_month">{{ post.date | date: "%b" }}</span><span class="info_item_date">{{ post.date | date: "%d" }}</span></div>
					<!-- <img src="images/info_post03.png" alt=""> -->
					<div class="info_img_trim">
						<img src="{{ post.image }}" alt="">
					</div>
					<span class="info_item_text">{{ post.title }}</span>
				</div>
				</div>
			</div>
	{% endfor %}
	</div>
</section>

<section class="section_bg section_blog">
	<div class="container02">
		<div class="blog_items clearfix">
			<div class="blog_post_items">
				<section class="blog_list_items">
					<div class="blog_list_title01 clearfix">
					<h3 class="ttl_blog"><img class="logo_m" src="imfages/logom.svg" alt=""><img class="logo" src="images/logo.svg" alt="">BLOG</h3>
					<a href="http://everyday.mof-mof.co.jp/"><span>MORE</span><img src="images/arrow.png" alt=""></a>
					</div>
					<ul id="hatena_feed" class="article_list clearfix">
						<!-- mofmof blog -->
					</ul>
				</section>
				<section class="blog_list_items">
					<div class="blog_list_title_wrap">
					<h3 class="blog_list_title02 clearfix"><span>技</span><span>術</span><span>部</span></h3>
					</div>
					<ul id="blog_feed" class="blog_list_tec">
						<!--  -->
					</ul>
				</section>
			</div>
		<div class="page_nav_items clearfix">
			<div class="page_nav_inner">
			<a class="page_nav_left" href="/about">
			<div class="page_nav_item_box">
			<img src="/images/small_about.png" />
			<button class="button button_primary page_nav_button">mofmofとは</button>
			</div>
			</a>
			<a class="page_nav_right" href="/recruit">
			<div class="page_nav_item_box">
			<img src="/images/small_recruit.png" />
			<button class="button button_primary page_nav_button">採用情報</button>
			</div>
			</a>
			</div>
		</div><!-- page_nav_items -->
		</div><!-- blog_items -->
	</div>
</section><!-- BLOG -->
