---
layout: default
title: 採用情報
body_class_name: recruit
image: /images/main_recruit.png

# Main Visual
main_title_text_jp:
main_title_text_en1: RECRUIT
main_title_text_en2:
h1_page_title: 採用情報

footer_left: service
footer_right: about
---

{% include mainvisual.html %}

<section class="section_contact">

	<h1 class="page_title">{{page.h1_page_title}}</h1>

	<div class="container03">
		<h2>採用情報コンテンツ</h2>
		<ul>
			<li><a href="/recruit/recruit_you.html">入社を考えているあなたへ</a></li>
			<li><a href="/recruit/want-to-do.html">mofmofは何をしたいのか</a></li>
			<li><a href="/recruit/how-working.html">どんな風に働いているか</a></li>
		</ul>
		<br />
	</div>

	<div class="container03">
	{% include accordion.html %}
	</div>
</section>

{% include entryform.html %}


<br />

{% include footernav.html %}
