<div class="js_accordion">
	<p class="ttl_recruit js_switch open">新規事業のWebアプリケーションエンジニア</p>
		<div class="content_recruit_inner js_contentwrap">
				<div class="content_info recruit">
				<p>多くの開発相談をいただいている反面、mofmof inc.では対応可能な人員が不足しています。「十分にビジネスプランを練ってきたが、肝心の作れる人いない」「決まった仕様通りにしか作ってもらえない」といった相談が多く、我々だからこそ出来る開発スタイルで、新規事業へチャレンジする機会を増やしたいと考えています。</p>
					<dl>
					<dt>業務内容</dt>
					<dd>月額制開発チームレンタルの開発担当(Ruby on Rails)をお願いしたいと思っています。スクラムをベースにした2〜6名チームで、新規事業の開発を進めていきます。</dd>
					<dt>雇用形態</dt>
					<dd>正社員(中途) / 業務委託</dd>
					<dt>応募資格</dt>
					<dd>
					必須スキル・経験<br>
					○WEBアプリケーションフレームワークの実務経験<br>
					　(Laravel, Struts, CakePHPなどでも可)<br>
					○社会人経験<br>

					歓迎スキル・経験<br>
					○Ruby on Railsを利用した開発経験<br>
					○AWSの各種サービスを利用した開発経験<br>
					○スクラム開発の経験<br>
					・開発ディレクション経験<br>

					歓迎する職歴・志向<br>
					○開発はもちろん、サービス全体の企画・運営に熱意を持って取り組める方<br>
					○新規サービス立ち上げにやりがいを感じる方<br>
					○開発ディレクション経験<br>
					</dd>
					<dt>勤務地</dt><dd>mofmof本社オフィス<br>
					東京都渋谷区南平台町13-15 LUMBER ONE 南平台ビル ANNEX 1F</dd>
					<dt>勤務時間</dt>
					<dd>9:45 〜 18:45</dd>
					<dt>給与</dt><dd>※ご経験・スキルを考慮して決定いたします。　（試用期間あり）</dd>
					<dt>待遇・福利厚生</dt><dd>交通費支給, 各種社会保険完備, 昇給あり, 休日・休暇：完全週休2日制(土日), 祝日, 夏季休暇, 年末年始休暇</dd>
					</dl>
					<a href="#entry_form" class="button button_entry">応募する</a>
				</div> <!-- content_info -->
		</div> <!-- js_contentwrap -->

	<!-- <p class="ttl_recruit js_switch">新規事業のWebアプリケーションエンジニア</p>
		<div class="content_recruit_inner js_contentwrap displaynone">
				<div class="content_info recruit">
				<p>多くの開発相談をいただいている反面、mofmof inc.では対応可能な人員が不足しています。「十分にビジネスプランを練ってきたが、肝心の作れる人いない」「決まった仕様通りにしか作ってもらえない」といった相談が多く、我々だからこそ出来る開発スタイルで、新規事業へチャレンジする機会を増やしたいと考えています。</p>
					<dl>
					<dt>業務内容</dt>
					<dd>月額制開発チームレンタルの開発担当(Ruby on Rails)をお願いしたいと思っています。スクラムをベースにした2〜6名チームで、新規事業の開発を進めていきます。</dd>
					<dt>雇用形態</dt>
					<dd>正社員(中途) / 業務委託</dd>
					<dt>応募資格</dt>
					<dd>
					必須スキル・経験<br>
					○WEBアプリケーションフレームワークの実務経験<br>
					　(Laravel, Struts, CakePHPなどでも可)<br>
					○社会人経験<br>

					歓迎スキル・経験<br>
					○Ruby on Railsを利用した開発経験<br>
					○AWSの各種サービスを利用した開発経験<br>
					○スクラム開発の経験<br>
					・開発ディレクション経験<br>

					歓迎する職歴・志向<br>
					○開発はもちろん、サービス全体の企画・運営に熱意を持って取り組める方<br>
					○新規サービス立ち上げにやりがいを感じる方<br>
					○開発ディレクション経験<br>
					</dd>
					<dt>勤務地</dt><dd>mofmof本社オフィス<br>
					東京都渋谷区南平台町13-15 LUMBER ONE 南平台ビル ANNEX 1F</dd>
					<dt>勤務時間</dt>
					<dd>9:45 〜 18:45</dd>
					<dt>給与</dt><dd>※ご経験・スキルを考慮して決定いたします。　（試用期間あり）</dd>
					<dt>待遇・福利厚生</dt><dd>交通費支給, 各種社会保険完備, 昇給あり, 休日・休暇：完全週休2日制(土日), 祝日, 夏季休暇, 年末年始休暇</dd>
					</dl>
					<a href="#entry_form" class="button button_entry">応募する</a>
				</div>
		</div> -->
</div><!-- /. accordion -->
