<div class="js_accordion">
<p class="ttl_recruit js_switch">CASE.2 中規模ベンチャー企業の新規事業担当Bさんの場合</p>
<div class="content_inner js_contentwrap displaynone">
		<div class="content_info">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div> <!-- content_info -->
</div> <!-- js_contentwrap -->

<p class="ttl_recruit js_switch">CASE.2 中規模ベンチャー企業の新規事業担当Bさんの場合</p>
<div class="content_inner js_contentwrap displaynone">
		<div class="content_info">
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div> <!-- content_info -->
</div> <!-- js_contentwrap -->
</div><!-- /. accordion -->