<section class="section_dialog">
	<div class="container04 profile_bg">
		<div class="title_left_small">CLIENT PROFILE <span>クライアントプロフィール</span></div>
		<div class="profile_wrap">
			<div class="profile_txt">
				<p>{{page.interview_speaker_company}}</p>
				<p>{{page.interview_speaker_name}}</p>
				<ul>
					<li><a href="{{page.company_link}}">{{page.interview_speaker_company}}</a></li>
					<li><a href="{{page.service_link}}">{{page.sercive_name}}</a></li>
				</ul>
			</div>
		</div>
		<div class="profile_img">
			<img class="img_profile" src="{{page.interview_profile_img}}" alt="">
		</div>
	</div>
</section>
