<div class="container04">

<div class="diff_item_wrapper">

<div class="diff_title clearfix">
<div class="diamond">違い</div>
<div class="wf_txt">
<span>従来の受託開発</span>
<p>GENERAL <br> DEVELOPMENT</p>
</div>
<div class="mof_txt">
<span>月額制開発チームレンタル</span>
<p>MOFMOF <br>DEVELOPMENT</p>
</div>
</div>

<div class="diff_item clearfix">
<p class="diff_head">仕様変更</p>
<div class="wf">柔軟に仕様変更しづらく、仕様変更をする必要がある際、都度再設計・再見積もりが必要になるため、交渉分コストが余計にかかる</div>
<div class="mof">開発中であれ、いつでも仕様変更が可能。月額固定なので、交渉分コストなどの「無駄」が発生しない</div>
</div>

<div class="diff_item clearfix">
<p class="diff_head">費用</p>
<div class="wf">後から仕様がブレた際には、修正工数を含むと、当初予定していた費用の2～3倍くらいになってしまう</div>
<div class="mof">仕様がブレても月額固定で対応できるため、バッファ分を含まず、必要以上費用がかからない</div>
</div>

<div class="diff_item clearfix">
<p class="diff_head">向いている<br>プロジェクト</p>
<div class="wf">○ 既存プロダクト完全リプレース<br>○ ライフサイクルが短いもの<br>(キャンペーンサイトのように1〜2ヶ月くらいの短期間でクローズするものなど)</div>
<div class="mof">○ 新規立ち上げなど、最初に仕様を決めることが難しいもの<br>○ 長期的にユーザー反応を見ながら開発を繰り返す必要があるもの</div>
</div>

<div class="diff_item clearfix">
<p class="diff_head">こんな方に<br>オススメ</p>
<div class="wf">なるべくお任せにしたい、質問に回答する程度だけで進めたい</div>
<div class="mof">動くものを確認しながら最適な形を模索したいす必要があるもの</div>
</div>

<div class="diff_item clearfix">
<p class="diff_head">契約形態</p>
<div class="wf">完成責任を負う請負契約</div>
<div class="mof">役務提供に責任を負う準委任契約</div>
</div>

<div class="diff_item clearfix">
<p class="diff_head">開発フロー</p>
<div class="wf"><a href="/service/images/generaldev.png"><img src="/service/images/generaldev_s.png" alt=""></a></div>
<div class="mof"><a href="/service/images/mofmofdev.png"><img src="/service/images/mofmofdev_s.png" alt=""></a></div>
</div>

</div>

</div>