<div class="bg">
	<div class="container">
		<footer>
			<div class="footer_top">
			<a href="#">
			<img class="backtotop_logo_img" src="/images/logo.svg" alt="">
			<img class="backtotop_mlogo_img" src="/images/logom.svg" alt="">
			<span>PAGE TOP</span>
			</a>
			</div>
			<div class="footer_copy pagetop_line">&copy; 2017.mofmof inc All rights reserved.
				<div class="footer_sns"><span>SHRE ON </span><a href="#"><img class="ico_sns" src="/images/ico_tw.png" alt=""></a>　<a href="#"><img class="ico_sns" src="/images/ico_fb.png" alt=""></a></div>
			</div>
		</footer>
	</div>
	<div id="footer_contact">
		<div class="container ">
			<div class="footer_bottom_contact">
				<p class="col1">ウェブサービスの立ち上げ・開発に関するご相談などお気軽にお問い合わせください</p>
				<p class="col2 footer_bottom_contact_btn"><a class="contact_btn" href="/contact/">お問い合わせ</a></p>
			</div>
		</div>
	</div>
</div>

