<div class="container header">
<header>
<h1><a class="header_logo" href="/"><img class="logo" src="/images/logom.svg" alt=""><img class="logo" src="/images/logo.svg" alt=""></a></h1>
<div id="gnav">
	<div id="gnav_btn"><span></span></div>
	<nav>
		<ul id="gnav_menu">
			<li><a href="/about/">mofmofとは</a></li>
			<li><a href="/service/">サービス</a></li>
			<li><a href="/works/">開発実績</a></li>
			<li><a href="/interview.html">インタビュー</a></li>
			<li><a href="/faq/">よくあるご質問</a></li>
			<li><a href="/recruit/">採用情報</a></li>
			<li><a href="/contact/">お問い合わせ</a></li>
		</ul>
	</nav>
</div>
</header>
</div>
