<div class="container02">
<a href="/interview/dialog/dialog01.html">
	<div class="interview_banner">
		<div class="interview_title clearfix">
			<h2>対談<span>Vol.01</span></h2>
			<p class="interview_post_title">ハイブリッドクラウドが生み出す、エンタープライズ情報システム</p>
		</div>
		<div class="interview_img">
			<img src="/images/interview.png" alt="">
		</div>
		<p class="interview_interviewer"><span>株式会社mofmof</span>CEO 原田 敦</p>
		<p class="interview_speaker"><span>株式会社フライングライン</span>CEO 鐘ヶ江 弘章</p>
	</div>
</a>
</div>
