<div class="container">
	<div class="interview_main">
		<div class="interview_title clearfix">
			<p class="interview_main_title">{{ page.interview_title }}</p>
		</div>
		<div class="interview_img">
			<img src="{{ page.interview_visual_path }}" alt="">
		</div>
		<p class="interview_interviewer"><span>{{ page.interview_interviewer_company }}</span>{{page.interview_interviewer_name}}</p>
		<p class="interview_speaker"><span>{{page.interview_speaker_company}}</span>{{page.interview_speaker_name}}</p>
	</div>
</div>
