
<div class="container02">
	<div class="about_member_container">
		{% for member in site.data.members %}
		<figure class="about_member_item">
			<p class="member_name clearfix">
			<span class="name">
			{{ member.name }}
			</span>
			<span class="member_jobtitle">{{ member.jobtitle }}</span>
			</p>
			<div>
				<img class="rollover" src="{{ member.imgpath }}" alt="{{ member.name }}">
			</div>
			<figcaption class="message">
			{{ member.message }}
			</figcaption>
		</figure>
		{% endfor %}
	</div>
</div>
