<section>
<div class="container02">
	<h2 class="ttl_center">MERIT <span>月額制開発チームレンタルのメリット</span></h2>
		<section class="contents_service clearfix">
			<div class="sercive_img"><img src="/service/images/speed.png" alt=""></div>
			<div class="sercive_txt">
			<h3 id="merit01"><span>高速でリリースができるため、</span><br><span>新規事業に向いている</span></h3>
			<p>一般的な一括請負型のシステム開発会社に発注する場合、従来のやり方だと「要件定義」、「設計・開発」そして「検証」という全てのフェーズを終えるまでに数ヶ月から数年を要する上、プロジェクト終盤になるまで動くソフトウェアを確認することができません。<br>
		一方、mofmofの月額制開発チームレンタルでは、1〜2週間サイクルで設計・開発を繰り返してソフトウェアを改善していくプロセスをとっているため、1サイクルごとに、実際のソフトウェアの動きを確認しながら進めることができます。仕様変更もしやすいので、「プロジェクト開始時に全ての仕様が決まっていない」、「仕様変更がたびたび発生する」といったことが起こりがちな新規事業におすすめです。</p>
			</div>
		</section>
		<section class="contents_service right clearfix">
			<div class="sercive_img"><img src="/service/images/visible.png" alt=""></div>
			<div class="sercive_txt">
			<h3 id="merit02"><span>開発チームの進捗を可視化</span></h3>
			<p>月額制開発チームレンタルのその他の魅力として、「開発進捗・プロセスが見える」という点が挙げられます。<br>
				一般的な受託開発とは異なり、発注者（プロダクトオーナー）はどのような機能が欲しいかを表現し、それを元にエンジニアとの対話を通して、どういう理由でどのくらいの工数がかかるかを一つずつ見積もるというプロセスを経るため、希望や意見が実際にソフトウェアに反映されるまで、どのように進んでいるのかを見ることができます。<br>
				「バックログ」という形式で仕様が管理され、開発チームが「今何をしているのか」、「あとどれくらいかかりそうなのか」ということが常に可視化されるので、ビジネスに合わせて柔軟な意思決定を行うことができます。</p>
			</div>
		</section>
		<section class="contents_service clearfix">
			<div class="sercive_img"><img src="/service/images/team.png" alt=""></div>
			<div class="sercive_txt">
			<h3 id="merit03"><span>1人ではなく開発チームで対応するため安心</span></h3>
			<p>月額制開発チームレンタルでは、開発担当エンジニアとコードレビュー担当者がそれぞれの分野で力を発揮し、システム開発を担当します。チームで開発することにより、個人の癖などの影響を回避し、より保守性が高く、品質の良いソフトウェアを構築することができます。 <br>
			またチームで解決できない技術的課題は、mofmof inc.全体で相談できる場を設けており、mofmof inc.としてのノウハウの中からも解決への糸口を見つけることができます。そのため1人のエンジニアで開発担当するよりもリスクを圧倒的に小さくし、ソフトウェア及びビジネスの成功の可能性を上げることができます。</p>
				</div>
		</section>
	</div>
</section>

<section class="section_service">
<div class="container02">
	<div class="contents_service rental clearfix">
		<h3 class="ttl_service">新規事業開発に最も適した月額制開発チームレンタル</h3>
		<div class="sercive_txt">
			<p>月額制開発チームレンタルの特徴は「対話」「合意」「確認」というプロセスを重視している点です。<br>
			新規に立ち上げるサービスなど、最初に仕様を全て決めることが難しいものや、長期的にユーザー反応を見ながら開発を繰り返す必要があるケースに非常に適しています。<br>
			一から開発チームを構築し、うまく機能するまで成長させることは非常に困難ですが、そんな手間も必要なく、しかも、自社で雇用しているような感覚でシームレスに開発プロジェクトを進めていけるのが「開発チームレンタル」です。
			</p>
		</div>
		<div class="sercive_img"><img src="/service/images/rental.png" alt=""></div>
	</div>
</div>

<div class="service_solution">
	<section class="sercive_issue">
		<h4>新規事業でよくある悩み</h4>
		<ul>
			<li>アイデアと顧客は持っているけど、開発リソースがない(足りない)</li>
			<li>社内で開発リソースを抱えてしまうことのリスクが大きい</li>
			<li>周りに、「決まったもの」を作るだけの開発会社しかなく、外注しづらい</li>
		</ul>
	</section>
	<section class="sercive_proposals">
		<h4>月額制開発チームレンタルの特徴</h4>
		<ul>
			<li>ベテランエンジニアが確保できるので、立ち上がりが早い</li>
			<li>社内で雇用・教育するコストがかからない</li>
			<li>最初に全てを決める必要がないため、ビジネスに合わせていつでも仕様変更ができる上に、早い段階で実際に動くものが確認することが可能</li>
		</ul>
	</section>
</div> <!-- service_solution -->
</section>
