<div id="overlay">
	<div class="sp_nav_wrap">
	<div class="sp_logo">
	<a href="/">
	<img class="logom_white" src="/images/logom_white.svg" alt="">
	<img class="logo_white" src="/images/logo_white.svg" alt="">
	</a>
	</div>
		<ul class="sp_menu">
			<li><a href="/about/">mofmofとは</a></li>
			<li><a href="/service/">サービス</a></li>
			<li><a href="/works/">開発実績</a></li>
			<li><a href="/interview/">インタビュー</a></li>
			<li><a href="/faq/">よくあるご質問</a></li>
			<li><a href="/recruit/">採用情報</a></li>
			<li><a href="/contact/">お問い合わせ</a></li>
		</ul>
		<ul class="sp_menu_bloglink">
			<li><a href="http://everyday.mof-mof.co.jp/">mofmofブログ</a></li>
			<li><a href="http://tech.mof-mof.co.jp/">技術部</a></li>
		</ul>
	</div>
</div>