<div class="container">
	<div class="top_main_slider clearfix">
	<!-- slider -->
	<div class="js_main_slide main_slide_area">
		<div class="top_main_images">
			<p class="main_visial_title_top" >つくって人を幸せにする</p>
			<div class="ttl_main_top"><span>WE "CREATE" </span><br><span>YOUR HAPPINESS</span></div>
			<div class="main_image_item"><span><a class="item01" href="/about"></a></span></div>
		</div>

		<div class="top_main_images">
			<div class="ttl_main_top"><span>SERVICE</span></div>
			<div class="main_image_item"><span><a class="item02" href="/service"></a></span></div>
		</div>

		<div class="top_main_images">
			<div class="ttl_main_top"><span>WORKS</span></div>
			<div class="main_image_item"><span><a class="item03" href="/works"></a></span></div>
		</div>

		<div class="top_main_images">
			<div class="ttl_main_top"><span>INTERVIEW</span></div>
			<div class="main_image_item"><span><a class="item04" href="/interview.html"></a></span></div>
		</div>

	</div>
	<!-- slide -->
		<nav class="top_main_menu">
		<p class="main_visial_title" >つくって人を幸せにする</p>
			<ul id="js_main_nav" class="top_main_nav">
				<li><a href="/about/"><span>ABOUT</span></a></li>
				<li><a href="/service/"><span>SERVICE</span></a></li>
				<li><a href="/works/"><span>WORKS</span></a></li>
				<li><a href="/interview.html"><span>INTERVIEW</span></a></li>
			</ul>
		</nav>
	</div>
</div>
