.button_primary {
    text-align: left;
    background: $yellow-color;
    color: $text-link-color;
    &:after {
        position: absolute;
        display: block;
        content: "";
        height: 100%;
        width: 9px;
        top: 0;
        right: 20px;
        background: url(../images/arrow.svg) no-repeat center;
        background-size: contain;
    }
    &:hover {
        background: $text-link-color;
        color: #fff;
        &:after {
            background: url(../images/arrow_white.svg) no-repeat center;
            background-size: contain;
        }
    }
}