.container_daialog {
	width: 900px;
	margin: 0 auto;
	margin-bottom: 70px;
	p {
		margin-bottom: 1em;
		}
	@media screen and (max-width: 1024px) {
		width: auto;
		padding: 0 30px;
		margin-bottom: 0;
	}
}

img.img_fl {
    float: left;
    padding-right: 70px;
    padding-bottom: 70px;
    @media screen and (max-width: 1024px) {
		padding-bottom: 20px;
		padding-right: 20px;
		width: 40%;
    }
}

img.img_fr {
    float: right;
    padding-left: 70px;
    padding-bottom: 70px;
    @media screen and (max-width: 1024px) {
		padding-bottom: 20px;
		padding-left: 20px;
		width: 40%;
		max-width: 300px;
    }
}

.section_dialog {
	margin-bottom: 70px;
	@media screen and (max-width: 1024px) {
		padding: 30px;
		padding-bottom: 0;
		margin-bottom: 0;
		max-width: 600px;
		margin: 0 auto;
	}
}

.section_dialog {
	margin-bottom: 30px;
}

.container_daialog {
	h2 {
		font-size: 16px;
		color: $text-link-color;
		margin-bottom: 30px;
		padding-top: 30px;
		@media screen and (max-width: 768px) {
			padding-top: 0;
		}
	}
	p {
		img {
			max-width: 100%;
		}
	}
}

.profile_bg {
	position: relative;
	background: url(/images/bg.svg) repeat-y right;
	background-size: 750px;
	min-height: 393px;
	.title_left_small {
		margin-bottom: 50px;
		@media screen and (max-width: 1024px) {
			margin-bottom: 10px;
		}
	}
	p {
		font-size: 16px;
	}
	ul {
		padding: 40px 1em;
		@media screen and (max-width: 1024px) {
			padding: 20px 1em;
		}
	}
	@media screen and (max-width: 1024px) {
		width: auto;
	    padding: 0 30px;
	    padding-bottom: 30px;
	}
}

img.img_profile {
	max-width: 200px;
}


.profile_wrap {
	display:-webkit-flex;
  display:flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-lines:multiple;
  -moz-box-lines:multiple;
  -webkit-flex-wrap:wrap;
  -moz-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  @media screen and (max-width: 1024px) {
  	max-width: 600px;
  	margin: 0 auto;
  }
  @media screen and (max-width: 380px) {
		display: block;
  }
}

.profile_txt {
	width: 50%;
	@media screen and (max-width: 380px) {
		width: 100%;
	}
}
.profile_img {
	position: absolute;
	right: 5%;
	top: 18%;
	@media screen and (max-width: 380px) {
		position: static;
		text-align: center;
	}
}
