.client_interview_items{
	display:-webkit-flex;
    display:flex;
	-webkit-justify-content: space-between;
  	justify-content: space-between;
  	-webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    @media screen and (max-width: 1024px) {
    	max-width: 480px;
    	margin: 0 auto;
    	padding: 30px;
    }
}

.client_item {
	position: relative;
	width: 480px;
	margin-bottom: 50px;
	@media screen and (max-width: 1024px) {
		width: auto;
		min-height: 150px;
		margin-bottom: 30px;
	}
}

.client_img {
	float: left;
	padding-right: 30px;
	width: 150px;
	height: 145px;
	img {
		width: 150px;
	}
	@media screen and (max-width: 1024px) {
		width: 100px;
		height: 100px;
		padding-right: 10px;
	}
}

.client_label {
	position: absolute;
	top: 20px;
	left: 120px;
	background: $brand-color;
	padding: 6px 17px;
	color: #fff;
	margin-bottom: 40px;
	@media screen and (max-width: 1024px) {
		position: relative;
		top: auto;
		left: auto;
		padding: 3px 14px;
    	font-size: 10px;
    	margin-bottom: 10px;
	}
}

.client_comment_wrap {
	padding-top: 77px;
	padding-left: 180px;
	@media screen and (max-width: 1024px) {
		padding-top: 0px;
		padding-left: 160px;
		font-size: 12px;
	}
}

.client_commnet {
	line-height: 1.4;
	margin-bottom: 10px;
}

.client_companname {
	font-size: 12px;
	@media screen and (max-width: 1024px) {
		font-size: 10px;
	}
}


.interview_main {
	height: 350px;
}

.dialog_main {
	height: 550px;
}

.dialog_img {
	@media screen and (min-width: 768px) {
		height: 230px;
	}
	@media screen and (max-width: 1024px) {
		height: 420px;
	}
}

.interview_main,.dialog_main {
	position: relative;
	.interview_main_title {
		position: relative;
		width: 620px;
		margin: 0 auto;
		text-align: center;
	    padding-top: 110px;
	    padding-bottom: 40px;
	    z-index: 2;
	    font-size: 26px;
    	color: #029AAA;
	}
	.interview_img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;
	}
	.interview_speaker {
		width: 300px;
		text-align: center;
		padding: 20px;
	}
	.interview_interviewer {
		width: 300px;
		text-align: right;
		padding: 20px;
	}
	@media screen and (max-width: 1024px) {
		position: relative;
		height: auto;
		padding-bottom: 20px;
		.interview_title {
		}
		.interview_img {
			padding: 80px 0;
			position: relative;
			height: 100px;
		}
		.interview_main_title {
			position: absolute;
			top: 0;
			width: 74%;
			font-size: 16px;
			padding: 40px 13%;
		}
		.interview_speaker  {
			width: 100%;
			text-align: left;
			padding: 3px 20px;
		}
		.interview_interviewer {
			width: 100%;
			text-align: left;
			padding: 3px 20px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.interview_main {
		.interview_img {
			padding-top: 0;
			padding-bottom: 45px;
		}
		.interview_main_title {
			padding: 20px 13%;
		}
	}
}

.interviewer_name {
	display:-webkit-flex;
    display:flex;
	-webkit-justify-content: space-between;
  	justify-content: space-between;
  	-webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    justify-content:center;
    width: 1200px;
    position: absolute;
    bottom: 70px;
    text-shadow: 2px 2px 3px #fff;
    @media screen and (max-width: 1024px) {
    	width: auto;
    	bottom: 0;
    }
}




