
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.ofh {
    overflow: hidden;
    height: 100%;
}


/**
 * Site header
 */
header {
    height: 100px;
    padding-top: 80px;
    position: relative;
    img.logo {
        padding-right: 20px;
        vertical-align: middle;
    }
}

a.header_logo {
    position: absolute;
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    header {
        padding-top: 20px;
        height: 40px;
    }
    a.header_logo {
        display: block;
        width: 183px;
        padding-left: 27px;
        z-index: 2;
    }
    .container {
        img.logo {
            position: relative;
            width: auto;
            height: auto;
            left: 8px;
        }
        img.backtotop_mlogo_img {
            display: block;
            width: auto;
            margin: 0 auto;
            padding: 0;
        }
        img.backtotop_logo_img {
            display: none;
        }
    }
}
#gnav {
    position: absolute;
    width: 780px;
    height:180px;
    top: 0;
    right: 0;
}
#gnav_menu {
    position: absolute;
    top: 90px;
    right: 0px;
    width: 730px;
    height: 24px;
    font-size: 13px;
    overflow: hidden;
    // opacity: 0;
    li {
        list-style-type: none;
        display: inline;
        padding: 5px 0;
        &:after {
            top: 0;
            content: "|";
            padding-right: 10px;
            padding-left: 14px;
        }
        &:last-child {
            &:after {
                content: "";
                }
            }
        a {
            text-decoration: none;
            display: inline-block;
            position: relative;
            &:before {
                content: "";
                background-color: $text-link-color;
                height: 1px;
                width: 100%;
                position: absolute;
                left: 0px;
                bottom: -10px;
                opacity: 0;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
            }
            &:hover {
                &:before {
                    content: "";
                    left: 0px;
                    bottom: 0px;
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #gnav  {
        width: 100%;
        height: 70px;
    }
    #gnav_menu {
        display: none;
    }
}


#gnav_btn {
    height: 36px;
    width: 40px;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 90px;
    right: 0;
    background: #fff;
    z-index: 1;
    @media screen and (max-width: 1024px) {
        display: block;
    }
    span {
        height: 2px;
        width: 25px;
        position: absolute;
        left: 5px;
        top: 9px;
        background-color: $brand-color;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
    &:before {
        content: "";
        height: 2px;
        width: 25px;
        position: absolute;
        left: 5px;
        top: 0px;
        background-color: $brand-color;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
    &:after {
        content: "";
        height: 2px;
        width: 25px;
        position: absolute;
        left: 5px;
        top: 18px;
        background-color: $brand-color;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
}

#gnav_btn.hover {
    span {
        display: none;
    }
    &:before {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        top: 9px;

    }
    &:after {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        top: 9px;

    }
}

@media screen and (max-width: 1024px) {
    #gnav_btn {
        position: absolute;
        top: 24px;
        right: 10px;
        z-index: 3;
    }
    #gnav_btn.close {
        background: $brand_color;
        span {
            display: none;
        }
        &:before {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            background: #fff;
            top: 9px;

        }
        &:after {
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            background: #fff;
            top: 9px;

        }
    }
}

/**
 * Site footer
 */

.footer_top {
    text-align: center;
    width: 106px;
    margin: 0 auto;
    padding-top: 30px;
    a {
        color: $text-link-color;
        text-decoration: none;
    }
    p {
        font-size: 12px;
        line-height: 30px;
    }
    padding-bottom: 20px;
    span {
        font-size: 10px;
        color: #000;
    }
    img {
        display: block;
    }
}
@media screen and (max-width: 1024px) {
    .footer_top {
        padding-bottom: 30px;
        p {
            font-size: 6px;
            position: relative;
            top: -16px;
        }
    }
}
.footer_copy {
    position: relative;
    text-align: center;
    font-size: 13px;
    padding-right: 28px;
}

@media screen and (max-width: 1024px) {
    .footer_copy {
        font-size: 10px;
        height: 30px;
    }
}

.footer_sns {
    line-height: 20px;
    position: absolute;
    top: 20px;
    right: 0;
    color: $brand-color;
    font-size: 10px;
    span {
        padding-right: 10px;
    }
    &:hover {
        opacity: 0.6;
    }
}

@media screen and (max-width: 1024px) {
    .footer_sns {
        position: relative;
        top: -60px;
        img.ico_sns {
            width: auto;
        }
        span {
            display: none;
        }
    }
}

#footer_contact {
    background: $brand-color;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 3;
    a {
        text-decoration: none;
    }
    span {
        display: block;
    }
}
img.backtotop_mlogo_img {
    width: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
}
img.backtotop_logo_img {
    padding-bottom: 10px;
    // width: auto;
}


@media screen and (max-width: 1024px) {
   #footer_contact {
    display: none;
    .footer_bottom_contact {
        display: none;
    }
   }
   .container img.backtotop_img {
    width: 100px;
    height: auto;
   }
   img.backtotop_mlogo_img {
        width: auto;
    }
    img.backtotop_logo_img {
        width: auto;
    }
}

.footer_bottom_contact {
    color: #fff;
    width: 100%;
    line-height: 80px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}
.col1 {
    width: 70%;
}
.col2 {
    width: 30%;
}
.footer_bottom_contact_btn {
    text-align: right;
}
.contact_btn {
    position: relative;
    padding: 13px 30px;
    padding-right: 58px;
    border: solid 1px #fff;
    color: #fff;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    &:after {
        position: absolute;
        top: 34%;
        right: 20px;
        display: block;
        content:"";
        width: 11px;
        height: 12px;
        background: url(../images/arrow_white.png);
    }
    &:hover {
        background: rgba(255,255,255,0.5);
        color: #fff;
        text-decoration: none;
    }
}



.pagetop_line {
    padding: 20px 0;
    background-image: linear-gradient(to right, $brand-color 55%, rgba(255,255,255,0) 0%);
    background-position: top;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}

@media screen and (max-width: 1024px) {
    .pagetop_line {
        background: none;
    }
}


/* Mobile Menu */

#overlay {
    display: none;
}
.sp_nav_wrap {
    position: relative;
    padding: 10px 30px;
}
.sp_logo {
    padding: 12px 0;
    padding-bottom: 24px;
}
.logom_white {
    width: 32px;
    padding-right: 10px;
    vertical-align: middle;
}
.logo_white {
    width: 94px;
    vertical-align: middle;
}

ul.sp_menu {
    width: 100%;
    height: 100%;
    font-size: 16px;
    list-style-type: none;
    background-image: linear-gradient(to right, #fff 40%, rgba(2,154,170,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    margin-bottom: 20px;
    li {
        position: relative;
        line-height: 3.6;
        background-image: linear-gradient(to right, #fff 40%, rgba(2,154,170,0) 0%);
        background-position: top;
        background-size: 4px 1px;
        background-repeat: repeat-x;
        a {
            display: block;
            width: 100%;
            position: relative;
            color: #fff;
            padding: 0 20px;
            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                right: 60px;
                width: 10px;
                height: 100%;
                color: #fff;
                background: url(../images/arrow_white.svg) no-repeat center;
                background-size: contain;
            }
        }
    }
}

ul.sp_menu_bloglink {
    padding: 0 20px;
    font-size: 14px;
    li {
        color: #fff;
        line-height: 2;
        a {
            color: #fff;
        }
    }
}


@media screen and (max-width: 1024px) {
    .wrapper {
        position: relative;
        overflow: hidden;
    }
   #overlay {
        display: none;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 2s;
        transition: all 2s;
        opacity: none;
   }
   #overlay.open {
        display: block;
        background: $brand-color;
        opacity: 1;
        transition: all 2s ease;
        -webkit-transition: all 2s ease;
   }
}


/**
 * Page content
 */
.container {
    width: 1200px;
    margin: 0 auto;
    // padding-bottom: 150px;
}

.container.header {
    padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .container.header {
        height: 70px;
    }
}

.container02 {
    width: 1000px;
    margin: 0 auto;
    // padding-top: 100px;
    // padding-bottom: 50px;
}

.container03 {
    width: 800px;
    margin: 0 auto;
}

.container04 {
    width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
   .container,
   .container02,
   .container03,
   .container04 {
        width: 100%;
        img {
            width: 100%;
        }
   }

}

section {
    // padding: 80px 0;
    margin-bottom: 200px;
}

@media screen and (max-width: 1024px) {
    section {
    margin-bottom: 50px;
    }
}

section.section_bg_left {
    position: relative;
    height: 921px;
    &:before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0;
        width: 1100px;
        height: 921px;
        background: $background-color;
        z-index: -1;
    }
}

section.section_bg_right {
    position: relative;
    height: 1043px;
    &:before {
        position: absolute;
        content: "";
        top:0px;
        right: 0;
        width: 1100px;
        height: 1043px;
        background: $background-color;
        z-index: -1;
    }
}

section.section_bg_center {
    position: relative;
    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 30px;
        left: 100px;
        width: 800px;
        height: 744px;
        background: $background-color;
        z-index: -1;
    }
}

section.section_contact  {
    @media screen and (max-width: 1024px) {
        margin-bottom: 0;
    }
}

.content_bg_center {
    position: relative;
    &:before {
        position: absolute;
        display: block;
        content:"";
        top: 0;
        left: 100px;
        width: 800px;
        height: 614px;
        background: $background-color;
        z-index: -1;
        @media screen and (max-width: 1024px) {
            width: 100%;
            height: 100%;
            left: 0;
        }
    }
}

section.section_bg_all {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 70px;
    &:before {
        position: absolute;
        content: "";
        top: 30px;
        right: 0;
        width: 1000%;
        height: 100%;
        background: $background-color;
        z-index: -1;
        @media screen and (max-width: 1024px) {
            top: 23px;
        }
    }
}

section.section_bg {
    background: $background-color;
}

section.section_blog {
    margin-bottom: 0;
    padding-top: 130px;
}

section.section_info {
    margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  section.section_info {
    margin-bottom: 0;
  }
  section.section_blog {
    padding-top: 0;
    background: $background-color;
  }
  section.section_bg_left,
  section.section_bg_right,
  section.section_bg{
    height: auto;
    background: transparent;
     &:before {
        background: transparent;
     }
  }
  section.section_bg {
    background: $background-color;
  }
  .sp_bg {
    position: relative;
    &:after {
        position: absolute;
        top: 20px;
        left: 0;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: $background-color;
        z-index: -1;
    }
  }
}



.text_area {
    width: 791px;
    margin: 0 auto;
    margin-bottom: 150px;
    p {
        margin-bottom: 1em;
    }
}

.service_link {
    position: relative;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    background: url(../images/service_link_bg.png) no-repeat left;
    background-size: 851px;
    margin-bottom: 150px;
}

.button.service_link_button {
    position: absolute;
    top: 50%;
    right: 0;
    text-align: left;
    color: $text-link-color;
    &:after {
        position: absolute;
        display: block;
        content: "";
        height: 100%;
        width: 9px;
        top: 0;
        right: 15px;
        background: url(../images/arrow.svg) no-repeat center;
        background-size: contain;
    }
    &:hover {
        background: $text-link-color;
        color: #fff;
        &:after {
            background: url(../images/arrow_white.svg) no-repeat center;
            background-size: contain;
        }
    }
}

@media screen and (max-width: 1024px) {
    .text_area {
        margin-bottom: 20px;
        width: 100%;
        p {
            padding: 30px;
        }
    }
    .service_link {
        position: relative;
        width: 100%;
        height: 210px;
        margin: 0 auto;
        background: url(../images/service_link_bg_sp.png) no-repeat top center;
        background-size: 85%;
        margin-bottom: 50px;
    }
    .button.service_link_button {
        display: none;
    }
}


