
// font
$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$title-font-family: 'Lato', sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


// color
$text-color:       #000;
$text-link-color:  #00a4b4;
$background-color: #f8f8f4;
$brand-color:      #029AAA;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$yellow-color:	   #f4f212;



// spacing
$spacing-unit:     30px;
$on-palm:          600px;
$on-laptop:        800px;
$global-margin: 10px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
